<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/reg_form.css">
</head> 
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="send_data" action="{% url 'post_register' %}" method="post">
                {% csrf_token %}
                <h1 class="colorform">Создать Аккаунт</h1>
                <input type="text" name="username" placeholder="Имя" />
                <input type="password" name="password" placeholder="Пароль" />
                <input type="password" name="password1" placeholder="Подтвердите пароль" />
                <button class="clr-1">Зарегистрироваться</button>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="send_data" action="{% url 'post_login' %}" method="post">
                {% csrf_token %}
                <h1 class="colorform">Вход</h1>
                <input type="text" name="username" placeholder="Имя" />
                <input type="password" name="password" placeholder="Пароль" />
                <a href="#">Забыли пароль?</a>
                <button class="clr-1">Вход</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добро Пожаловать!</h1>
                    <p>Чтобы поддерживать с нами связь, пожалуйста, войдите в систему, указав свои личные данные</p>
                    <button class="ghost" id="signIn">Вход</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, Друг!</h1>
                    <p>Введите свои личные данные и начните путешествие вместе с нами</p>
                    <button class="ghost" id="signUp">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
    <script src="/static/js/reg_form.js"></script>
</body>
</html>
