<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Авторизация</title>
    <link rel="stylesheet" href="/static/css/reg_form.css">
    <!-- ract подключение -->
    <script crossorigin src="https://unpkg.com/react@18/umd/react.production.min.js"></script>
    <script crossorigin src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/@babel/standalone/babel.min.js"></script>
</head> 
<body>
    <div class="container" id="container">
        <div class="form-container sign-up-container">
            <form id="send-data-register" method="post" action="{% url 'post_register' %}">
                {% csrf_token %}
                <h1 class="colorform">Создать Аккаунт</h1>
                <input type="text" name="username" placeholder="Имя" />
                <input type="password" name="password" placeholder="Пароль" minlength="5"/>
                <input type="password" name="password1" placeholder="Подтвердите пароль" minlength="5"/>
                <!-- сообщение об ошибки логина -->
                <div id="register_error"></div>
            </form>
        </div>
        <div class="form-container sign-in-container">
            <form id="send-data-login" method="post" action="{% url 'post_login' %}">
                {% csrf_token %}
                <h1 class="colorform">Вход</h1>
                <input type="text" name="username" placeholder="Имя" minlength="5" />
                <input type="password" name="password" placeholder="Пароль" />
                <a href="#">Забыли пароль?</a>
                <!-- сообщение об ошибки регистра -->
                <div id="login_error"></div>
                <!-- <button type="button" class="clr-1" onclick="validate_login_form()">Вход</button> -->
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Добро Пожаловать!</h1>
                    <p>Чтобы поддерживать с нами связь, пожалуйста, войдите в систему, указав свои личные данные</p>
                    <button class="ghost" id="signIn">Вход</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Привет, Друг!</h1>
                    <p>Введите свои личные данные и начните путешествие вместе с нами</p>
                    <button class="ghost" id="signUp">Зарегистрироваться</button>
                </div>
            </div>
        </div>
    </div>
    <script  type="text/babel" src="/static/js/reg_form.js"></script>
</body>
</html>
