

<!-- load static нужна для подгрузки статичных файлов css там js -->
{% load static %}

<html>

    <head>
        
        <!-- подключает файл заголовка -->
        {% include 'header.html' %}
    </head>

    <body>


        
        <div>
            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                <!-- форма поиска в принципе можно обычную форму сделать -->
                {{search_form.as_p}}
                
                <button type=“submit”>Поиск</button>

            </form>
        </div>

        <!-- Цикл по всем результатам поиска -->
        {% for c in searched %}
            
            <div>
                
                <!-- {{c.GameIco.ImageFile.url}} - адреса иконок игр -->
                <img width="324px" height="151px" src="{{c.GameIco.ImageFile.url}}">

                <!-- иконки игры -->
                <a href="/getpost/{{c.id}}/">Название: "{{ c.Title }}"</p>
                
            </div>
        {% endfor  %}

    </body>

</html>