
{% load static %}



<html>
    <head>
        {% include 'header.html' %}
    </head>

    <!-- Иконка игры -->
    <img width="324px" height="151px" src="{{post.GameIco.ImageFile.url}}">

    <h3>Название: {{ post.Title }}</h3>
    <h4>Об этой игре</h4>
    <hr>
    <h5>{{ post.Description }}</h5>


    {% for i in img %}

        <img width="400px" height="250px" src="{{i.GameImage.ImageFile.url}}">
       
    {% endfor %}
    <br>

    <p>Теги:</p>
    
    <p> 
        {% for t in tags %}

            <a href="">#{{t.Genre}}</a>
        
        {% endfor %}
    </p>

    <br>

    <a href='/{{ post.GameFile.GameFile }}'>Скачать игру</a>

</hml>