
{% load static %}

<html>

    <head>
        {% include 'header.html' %}
    </head>

    <body>


        <div>
            <form method="post" enctype="multipart/form-data">

                {% csrf_token %}

                {{search_form.as_p}}
                
                <button type=“submit”>Поиск</button>

            </form>
        </div>

        <!-- Цикл по всем результатам -->
        {% for c in searched %}
            
            <div>
                
                <!-- Иконка игры -->
                <img width="324px" height="151px" src="{{c.GameIco.ImageFile.url}}">

                <a href="/getpost/?post_id={{c.id}}">Название: "{{ c.Title }}"</p>
                
            </div>
        {% endfor  %}

    </body>

</html>